@{
    ViewData["Title"] = "Welcome MVC Movies";
}

    <div class="text-center jumbotron">
        <h1 class="display-4">Welcome to MVC Movies</h1>
        <a asp-controller="Movies" asp-action="Index"><h2>View Church Themed Movies</h2></a>
        <img src="~/images/jakob-owens-CiUR8zISX60-unsplash.jpg" alt="clapperboard"/>
        <p>Photo by Jakob Owens on Unsplash</p>
    </div>
